
* {
    margin:0;
    padding:0;
    line-height:1;
}

p {
    margin:0;
}

ul {
    list-style:none;
}

.col-xs-12, .col-xs-11, .col-xs-10,
.col-xs-9, .col-xs-8, .col-xs-7,
.col-xs-6, .col-xs-5, .col-xs-4,
.col-xs-3, .col-xs-2, .col-xs-1 {
    padding:0;
}

.container {
    width:960px;
    padding:0px 66px;
}

.fullContainer {
    width:100%;
    text-align:center;
}


/* Header */
header {
    float:left;
    width:100%;
    height:85px;
}

nav ul {
    list-style:none;
    margin:0;
}

nav ul > li {
    display:inline-block;
}

nav li > a,
nav li > a:hover,
nav li > a:focus,
nav li > a:active {
    text-decoration:none;
    color:#000000;
    cursor:pointer;
}

div.topNavbar {
    height:30px;
    text-align:right;
}


div.topNavbar > ul > li {
    margin:10px 0px;
    font-size:10px;
}

div.topNavbar > ul > li:first-child {
    margin-right:0;
}

div.topNavbar > ul > li.navbar-divider {
    margin:10px 12px;
}

div.topNavbar > ul > li.navbar-divider > div {
    height:10px;
    border-width: 0 1px 0 0;
    border-color: #000000;
    border-style: solid;
    display:inline;
}

div.bottomNavbar {
    height:55px;
}

div.bottomNavbar > div.logoPart {
    float:left;
}

div.bottomNavbar > div.logoPart > a > img.mainLogo {
    padding:20px 0px;
}

div.bottomNavbar > div.menuPart {
    float:right;
}

div.bottomNavbar > div.menuPart > ul > li {
    margin:20px 0 20px 34px;
    font-size:15px;
}




/* Section */
section {
    float:left;
    width:100%;
}

div.fullImage {
    height:560px;
    width:100%;
}

div.fullImage > img.floatImage1 {
    margin-top:147.5px;
}

div.findHouse {
    float:left;
    margin-top:33px;
}

div.findHouse > div {
    margin-right:4px;
}

div.findHouse > div,
div.findHouse > a.findButton {
    float:left;
    width:204px;
    height:32px;
    border-style:solid;
    border-color:#8C8EA1;
    border-width:2px;
    cursor:pointer;
}

div.findHouse > div.dropDown > p {
    text-align:center;
    padding:7px 0;
    color:#5F5F5F
}

div.findHouse > div.dropDown > div > ul {
    display:none;
    position:absolute;
    margin-left:-2px;
    margin-top:-30px;
    width:204px;
    border-style:solid;
    border-color:#FF876B;
    border-width:2px;
    cursor:pointer;
}

div.findHouse > div.dropDown:hover > div > ul {
    display:block;
}

div.findHouse > div.dropDown > div > ul > li {
    padding:7px 0;
    height:32px;
    text-align:center;
    background-color:#FFFFFF;
    color:#5F5F5F;
}

div.findHouse > div.dropDown > div > ul > li:hover {
    background-color:#AAAAAA;
}
div.findHouse > a.findButton,
div.findHouse > a.findButton:hover,
div.findHouse > a.findButton:focus,
div.findHouse > a.findButton:active {
    padding:7px 0;
    text-align:center;
    color:#FFFFFF;
    border-color:#464C7E;
    background-color:#464C7E;
    text-decoration:none;
}

div.mainMenu {
    float:left;
    margin-top:45px;
    margin-bottom:65px;
}

div.mainMenu > div {
    float:left;
    width:272px;
    height:240px;
    margin-right:6px;
}

div.mainMenu > div:last-child{
    margin-right:0;
}

div.mainMenu > div > div.hoverPart {
    display:none;
    padding-top:80px;
    width:100%;
    height:100%;
    background:url("/Images/menuHover.png");
}

div.mainMenu > div:hover > div.hoverPart {
    display:block;
}

div.mainMenu > div > div.hoverPart > p {
    font-size:40px;
    color:#FFFFFF;
    text-align:center;
}




/* Footer */
footer {
    float:left;
    width:100%;
    height:130px;
    background-color:#21282E;
}

div.footer {
    float:left;
    margin-top:47.5px;
    width:100%;
}

div.footer > div.companyInfo {
    float:left;
}

div.footer > div.companyInfo > p {
    margin:0;
    line-height:1.1;
    word-spacing:-3px;
    color:#5F5F5F;
    font-size:10px;
}

div.footer > div.links {
    float:right;
}

div.footer > div.links > a {
    margin-left:28px;
}

div.footer > div.links > a:first-child {
    margin-left:0;
}












